<h2>Date Pipe</h2>
<p>Today is {{ today | date }}</p>
<p>Or if you prefer, {{ today | date : "fullDate" }}</p>
<p>The time is {{ today | date : "h:mm a z" }}</p>

<h2>Uppercase Pipe</h2>
<div>
  <label>Name: </label><input #name (keyup)="change(name.value)" type="text" />
  <p>In lowercase:</p>
  <pre>'{{ value | lowercase }}'</pre>
  <p>In uppercase:</p>
  <pre>'{{ value | uppercase }}'</pre>
</div>

<h2>Currency Pipe</h2>
<div>
  <!--output '$0.26'-->
  <p>A: {{ a | currency }}</p>

  <!--output 'CA$0.26'-->
  <p>A: {{ a | currency : "CAD" }}</p>

  <!--output 'CAD0.26'-->
  <p>A: {{ a | currency : "CAD" : "code" }}</p>

  <!--output 'CA$0,001.35'-->
  <p>B: {{ b | currency : "CAD" : "symbol" : "4.2-2" }}</p>

  <!--output '$0,001.35'-->
  <p>B: {{ b | currency : "CAD" : "symbol-narrow" : "4.2-2" }}</p>

  <!--output '0 001,35 CA$'-->
  <p>B: {{ b | currency : "CAD" : "symbol" : "4.2-2" : "fr" }}</p>

  <!--output 'CLP1' because CLP has no cents-->
  <p>B: {{ b | currency : "CLP" }}</p>
</div>

<h2>Decimal Pipe</h2>
<div>

    <p>
      No specified formatting:
      {{pi | number}}
      <!--output: '3.142'-->
    </p>

    <p>
      With digitsInfo parameter specified:
      {{pi | number:'4.1-5'}}
      <!--output: '0,003.14159'-->
    </p>

    <p>
      With digitsInfo and
      locale parameters specified:
      {{pi | number:'4.1-5':'fr'}}
      <!--output: '0 003,14159'-->
    </p>

  </div>